.blog__links {
  display: flex;
  align-items: center;
  @media (max-width: 1023px) {
    flex-wrap: wrap;
  }
}

.blog__link {
  padding: 0 24px;
  min-height: 56px;
  color: var(--light-gray-text-color-mid);
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
  display: flex;
  align-items: center;
  &.active,
  &:hover {
    transition: all 0.3s ease;
    background: var(--light---gray---low-bg);
    color: var(--light---secondary---main);
  }
  @media (max-width: 767px) {
    padding: 0 12px;
    min-height: 46px;
    font-size: 14px;
  }
}

.blog__wrap {
  padding-top: 144px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 80px;
  @media (max-width: 1023px) {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}