.footer {
  border-top: 1px solid var(--border-color);
}

.footer__top {
  border-bottom: 1px solid var(--border-color);
  position: relative;
  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 29%;
    height: 1px;
    bottom: 100%;
    left: 0;
    background-color: var(--light---secondary---main);
  }
}

.footer__top-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0;
  .logo {
    margin-right: 24px;
  }
  .menu {
    @media (max-width: 1279px) {
      order: 1;
      width: 100%;
      justify-content: center;
    }
    @media (max-width: 767px) {
      flex-direction: column;
      margin: 20px 0;
    }
  }
  @media (max-width: 1279px) {
    flex-wrap: wrap;
  }
}

.footer__btn {
  display: flex;
  align-items: center;
  gap: 18px;
  font-size: 16px;
  font-weight: 700;
  background: var(--light---gray---low-bg);
  min-height: 40px;
  border-radius: 41px;
  padding: 0 16px;
  cursor: pointer;
}

.footer__bottom-wrap {
  display: flex;
  @media (max-width: 1279px) {
    flex-direction: column;
    gap: 20px;
  }
}

.footer__bottom-wrap-col {
  display: flex;
  flex-wrap: wrap;
  gap: 29px 64px;
  @media (max-width: 767px) {
    justify-content: center;
    text-align: center;
  }
}

.footer__bottom {
  padding: 31px 0;
}

.footer__bottom-links {
  display: flex;
  color: var(--dark---gray---mid-bg);
  flex-wrap: wrap;
  gap: 32px;
  width: 100%;
  a {
    font-weight: 500;
    font-size: 18px;
    color: var(--dark---gray---mid-bg);
    @media (max-width: 767px) {
      font-size: 14px;
      text-align: center;
      display: block;
      width: 100%;
    }
  }
  @media (max-width: 767px) {
    gap: 16px;
  }
}

.footer__bottom-contacts {
  display: flex;
  align-items: center;
  gap: 64px;
  a {
    font-weight: 700;
    font-size: 20px;
    color: var(--light---gray---text-color-mid);
    display: flex;
    gap: 16px;
  }
  @media (max-width: 767px) {
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
  }
}

.footer__bottom-btns {
  display: flex;
  flex-direction: column;
  gap: 8px;
  min-width: 216px;
  .btn {
    white-space: nowrap;
    width: 100%;
  }
  @media (max-width: 1279px) {
    flex-direction: row;
  }
  @media (max-width: 767px) {
    flex-direction: column;
  }
}

.logo__footer {
  --color-logo: var(--light---gray---text-color-mid);
}
