.title-page {
  font-size: 56px;
  font-weight: 700;
  line-height: 114%;
  @media (max-width: 1023px) {
    font-size: 46px;
  }
  @media (max-width: 767px) {
    font-size: 36px;
  }
}

.page__title {
  text-align: center;
  margin-bottom: 0;
}

.blog__title {
  margin-bottom: 95px;
}

h1 {
  font-weight: 700;
  font-size: 80px;
  margin-bottom: 16px;
  letter-spacing: -0.04em;
  @media (max-width: 1023px) {
    font-size: 60px;
  }
  @media (max-width: 767px) {
    font-size: 40px;
  }
}

h2 {
  font-weight: 700;
  font-size: 56px;
  margin-bottom: 16px;
  letter-spacing: -0.03em;
  @media (max-width: 1023px) {
    font-size: 46px;
  }
  @media (max-width: 767px) {
    font-size: 30px;
  }
}

h3 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 16px;
  letter-spacing: -0.02em;
  @media (max-width: 1023px) {
    font-size: 30px;
  }
  @media (max-width: 767px) {
    font-size: 20px;
  }
}

h4 {
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 16px;
  letter-spacing: -0.02em;
  @media (max-width: 1023px) {
    font-size: 22px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.subtitle {
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 4px;
  letter-spacing: -0.02em;
  @media (max-width: 1023px) {
    font-size: 28px;
  }
  @media (max-width: 767px) {
    font-size: 18px;
  }
}

.main-block__title {
  font-weight: 700;
  font-size: 96px;
  line-height: 133%;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: calc(100% - 40px);
      height: 20px;
      opacity: 0.16;
      width: 100%;
      background: var(--dark---primary---main);
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
      @media (max-width: 767px) {
        top: calc(100% - 26px);
      }
    }
  }
  @media (max-width: 1023px) {
    font-size: 70px;
  }
  @media (max-width: 767px) {
    font-size: 44px;
  }
}
