.language 
	.language__item.active
		input(type="radio" id="l1" name="language" checked)
		label(for="l1")
			img(src="img/rus.svg" alt="")
	.language__item
		input(type="radio" id="l2" name="language")
		label(for="l2") 
			img(src="img/en.svg" alt="")