.question 
	.question__wrap._container2
		.question__col 
			h2.question__title Узнайте <br> <span>за 3 минуты</span> стоимость вашего проекта
		.question__col 
			h4 У вас уже есть дизайн сайта?
			.question__items
				.question__item
					input(type="radio" id="r1" name="radio")
					label(for="r1")  Да,  в фигме.
				.question__item
					input(type="radio" id="r2" name="radio")
					label(for="r2") Да, в фотошопе
				.question__item
					input(type="radio" id="r3" name="radio")
					label(for="r3") Да, но в другой программе
				.question__item
					input(type="radio" id="r4" name="radio")
					label(for="r4") Есть прототип, дизайн нужно разработать
				.question__item
					input(type="radio" id="r5" name="radio")
					label(for="r5") Дизайна и прототипа нет, нужна консультация