extends templates/layout

block main 
	main
		.page 
			a(href="").back-btn.back-btn--center 
				svg(width="16" height="15")
					use(href="#icn-arrow-left")
				| Назад
			.page__head 
				.page__container 
					h2.title-page.page__title Какие CMS я использую,<br> и почему именно их.
			.line
				.page__container
					.page__wrap
						img.page__pic(src="img/pic1.png" alt="")
						.page__block
							h1 Заголовок H1
							p Кстати огромный плюс, это отличная документация для разработчика, о любой функции можно прочитать, посмотреть примеры, при чем на русском языке.
						.page__block
							h2 Заголовок H2
							p Wordpress — эта cms подходит под все пункты кроме интернет-магазинов и сайтов-сервисов. Просто идеально все сделано, при правильном подходе к разработке получаются очень шустрые и относительно не дорогие сайты с удобной, настраиваемой админкой. Правда многие покупают различные шаблоны под wordpress и без разбора ставят, все что шло в комплекте, все плагины, с подключением всех скриптов и тяжелых изображений, и в итоге говорят, что сайт медленный, плохо грузиться.Это не так — главное правильный подход.
							ol 
								li(data-count="1") Пункт нумерованного списка
								li(data-count="2") Пункт нумерованного списка
								li(data-count="3") Пункт нумерованного списка
								li(data-count="4") Пункт нумерованного списка
								li(data-count="5") Пункт нумерованного списка
						.page__block
							h3 Заголовок H3
							p Кстати огромный плюс, это отличная документация для разработчика, о любой функции можно прочитать, посмотреть примеры, при чем на русском языке.
							ul 
								li Пункт маркерованного списка
								li Пункт маркерованного списка
								li Пункт маркерованного списка
								li Пункт маркерованного списка
								li Пункт маркерованного списка
						.page__block
							h4 Заголовок H4
							p Кстати огромный плюс, это отличная документация для разработчика, о любой функции можно прочитать, посмотреть примеры, при чем на русском языке.
						.page__block
							.subtitle Подзаголовок
							p Кстати огромный плюс, это отличная документация для разработчика, о любой функции можно прочитать, посмотреть примеры, при чем на русском языке.

			include modules/question